* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.azeret-mono{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
   
    font-style: normal;
  }
  
  .container {
    width: 80%;
    margin: auto;

    
}

.header {
  margin-top:30px ;
  margin-bottom: 30px;
  padding-top: 30px;
  min-height: 70px;

}

.header a {
   
  text-decoration: none;

  
}
header h1 {
  float: left;}

  header .btn {
    float: right;
    padding: 17px 24px;
    background:white;
    color: #0D1321;
    border-radius: 8px;
    width: 114px;
    height: 15px;
    
    
}


.hero{

  background-image:url(../assets/Hero-bg.png);
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 100%;
  margin-bottom: 20px;
  
 
 


}
.img-2{
  text-align: center !important;  
  line-height: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.title{
  color:#0D1321 ;
  font-weight: bolder;
  font-size: 48px;
}
.content{
  color: #0D1321;
  font-size: 16px;
  font-weight: regular;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
 
}

.button{
  margin-top: 20px;
  text-align: center;
  line-height: center;
}
  .contact-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-decoration: none; /* removes underline from text */
    font-size: 16px;
    
}
.end{
  font-size: 24px;
}
.web-b{
  margin-top: 10px;
  text-align: center;
  line-height: center;
  font-weight: bolder;
  font-size: 32;
}


.pera-1{
  padding-left: 144px;
  padding-right: 144px;
}

.why-web{
  display: flex;
  justify-content: space-between;
 
  margin-left: 160px;
  margin-right: 160px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom:50px ;
  
  
}

.part-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 160px;
  margin-right: 160px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom:50px ;
}
.content-3{
   margin-left: 100px;
   
}

.web-pic-2{
  margin-top: 70px;
}
.part-3{
  display: flex;
  justify-content: space-between;
  margin-left: 160px;
  margin-right: 160px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom:50px ;
}
.part-5{
  line-height: center;
  text-align: center;
  margin-bottom: 20px;}

  .part-6{
    margin-top: 20px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 20px;
  }

 
  /* Set styles for the video container */
  .video-container {
    margin-left: 170px;
    width: 65%;
    border: #e1e5f0;
    padding-left: 35px;
    
    padding-top: 35px;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    border-style: groove;
    margin-bottom: 30px;
}
.part-20{
  margin-bottom: 70px;
}
.part-8{
  text-align: center;
  line-height: center;
}
  
.part-9{
  margin-left: 150px;
  margin-right: 50px;
  padding-left: 40px;
}

.part-7{

  display: flex;
}

.part-10{
  width: 364px;
  height: 300px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom:40px;
  padding-right: 40px;
  margin: 20px;
  background-color:rgb(236, 218, 218);
  border-radius: 16;
  -webkit-border-radius: 7%;
 
}
.part-11{
  width: 364px;
  height: 300px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom:40px;
  padding-right: 40px;
  margin: 20px;
  background-color: rgb(216, 216, 216);
  border-radius: 16;
  -webkit-border-radius: 7%;
}
.part-12{
  width: 364px;
  height: 300px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom:40px;
  padding-right: 40px;
  margin: 20px;
  background-color:rgb(236, 218, 218);
  border-radius: 16;
  -webkit-border-radius: 7%;

